[program:frigg-worker]
command =/bin/bash -i -c "/opt/frigg-worker/venv/bin/frigg-worker start"
directory = /opt/frigg-worker 
user = frigg
autostart = true
autorestart = true
redirect_stderr = True
stdout_logfile = /var/log/frigg-worker.log
environment=HOME="/home/frigg",USER="frigg",SHELL="/bin/bash",LANG="en_US.utf8", LC_ALL="en_US.UTF-8", LC_LANG="en_US.UTF-8"
